:root{
    --background-color:black,
    --primary-color:#FFFFFF,
    --secondary-color:#87E51

}

body{
    background-color: var(--background-color);
    /* font-family: font-MonaSans-400; */
    /* font-family: font-MonaSans-400; */
    font-family: "Mona Sans", sans-serif;
}