:root{
    --primary-color:#FFFFFF;
    --secondary-color:#C20001;
    --secondary-light-color:#c20000bd;
    /* --secondary-color:#616161;
    --ternary-color:#1F2937; */

}

body{
    background-color: var(--primary-color);
    /* font-family: font-MonaSans-400; */
    /* font-family: font-MonaSans-400; */
    font-family: "Mona Sans", sans-serif;
}